:host {
  display: flex;
}

.weather-card {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem 0 0.6rem 2rem;
  cursor: pointer;
  width: 100%;

  &__main {
    h2 {
      margin: 0;
      font-size: 4.1rem;
      font-weight: 500;
    }

    h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__description {
    padding-right: 2rem;
    text-align: right;

    img {
      transform: translate(0.75rem, 0);
      width: 50%;
      margin-bottom: -0.5rem;
    }

    h4 {
      margin: 0 0 1rem;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 0.5rem;
    }
  }
}