mat-card-header {
  align-items: center;
  justify-content: space-between;
  .weather-info {
    display: flex;
    justify-content: space-evenly;
    img {
      width: 50%;
    }
  }
}
mat-card {
  width: 800px;
  cursor: pointer;
}
