<mat-card *ngIf="weather" (click)="showTable()">
  <mat-card-header>
    <mat-card-title
      >{{ weather.name }},

      {{ weather.sys.country }}</mat-card-title
    >
    <mat-card-subtitle>Wind: {{ weather.wind.speed }} m/s </mat-card-subtitle>
    <div class="weather-info">
      <img
        mat-card-image
        src="https://openweathermap.org/img/wn/{{
          weather.weather[0].icon
        }}@2x.png"
        [alt]="weather.weather[0].main"
      />
      <h2>{{ weather.main.temp | number: "1.0-0" }} &#8451;</h2>
    </div>
  </mat-card-header>

  <mat-card-content>
    <table *ngIf="table">
      <tr>
        <th *ngFor="let item of forecast.list | slice: 0:8; index as i">
          {{ forecast.list[i].main.temp | number: "1.0-0" }} &#8451;
        </th>
      </tr>
      <tr>
        <td *ngFor="let item of forecast.list | slice: 0:8; index as i">
          <img
            mat-card-image
            src="https://openweathermap.org/img/wn/{{
              forecast.list[i].weather[0].icon
            }}@2x.png"
            [alt]="forecast.list[i].weather[0].main"
          />
        </td>
      </tr>
      <tr>
        <td *ngFor="let item of forecast.list | slice: 0:8; index as i">
          {{ forecast.list[i].dt_txt | date: " h a" }}
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
