table {

  td,
  th {
    max-width: 100%;
    text-align: left;
  }

  th {
    opacity: 80%;
    font-size: 0.9rem;
    font-weight: 400;
  }

  td {
    font-size: 1.1rem;
    font-weight: 500;

    img {
      width: 50%;
      display: block;
    }

    .celsius-symbol{
      vertical-align: top;
      font-size:0.9rem;
      font-weight: 100;

    }
  }
}