table {
  td,
  th {
    max-width: 100%;
    text-align: left;
  }

  th {
    opacity: 80%;
    font-size: 15px;
    font-weight: 400;
  }
  td {
    font-size: 17px;
    img {
      width: 50%;
      display: block;
    }
  }
}