:host {
  text-align: center;
}

.forecast-time {
  color: rgba(67, 66, 66, 0.895);
  font-size: 0.7rem;
  font-weight: 400;
}

.forecast-temperature {
  font-size: 0.9rem;
  font-weight: 500;

  .celsius-symbol {
    vertical-align: top;
    font-size: 0.8rem;
    font-weight: 100;
  }
}