<table>
  <tr>
    <th *ngFor="let item of forecastList; index as i">
      {{ forecastList[i].main.temp | number: "1.0-0" }}
    </th>
  </tr>
  <tr>
    <td *ngFor="let item of forecastList; index as i">
      <img
        mat-card-image
        src="https://openweathermap.org/img/wn/{{
          forecastList[i].weather[0].icon
        }}@2x.png"
        [alt]="forecastList[i].weather[0].main"
      />
    </td>
  </tr>
  <tr>
    <td *ngFor="let item of forecastList; index as i">
      {{ forecastList[i].dt_txt | date: " h a" }}
    </td>
  </tr>
</table>
