:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main-content {
  overflow: hidden;
  border-radius: 0.5rem;
  width: 28rem;
  margin: 4rem auto;
  padding: 1.5rem;
  background-color: rgba(243, 212, 240, 0.982);
}

.city:not(:first-child) {
  margin-top: 1.5rem;
}